<div id="<%= dom_id job %>">
  <p>
    <strong>Title:</strong>
    <%= job.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= job.description %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= job.category_id %>
  </p>

  <p>
    <strong>Is completed:</strong>
    <%= job.is_completed %>
  </p>

</div>
