<p style="color: green"><%= notice %></p>

<%= render @category, class:"btn btn-primary" %>

<div class="d-flex flex-row justify-content-around">
  <%= link_to "Edit this category", edit_category_path(@category), class:"btn btn-primary color text-black" %>
  <%= link_to "Back to categories", categories_path , class:"btn btn-primary color text-black" %>

  <%= button_to "Destroy this category", @category, method: :delete , class:"btn btn-primary color text-black"  %>
</div>
